.button {
  width: 344px;
  height: 64px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #231e1b;
  gap: 10px;
}

.loginIconImage {
  width: 32px;
  height: 32px;
}

.loginTitle {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
