.button {
  width: 344px;
  height: 64px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid #e6e6e6;
  color: white;
  gap: 10px;
  cursor: pointer;
}

.loginIconImage {
  width: 32px;
  height: 32px;
}

.loginTitle {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
